article {
    display: none;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article h2 {
    font-size: 24px;
    margin-bottom: 10px;
    
}

article p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    
}

article ul {
    list-style-type: none;
    padding: 0;
}

article ul li {
    margin-bottom: 5px;
    
}

article ul li span {
    font-weight: bold;
}

/* Specific article styling */
.mao-mao {
    display: block;
    background-image: url('./mao-mao.png');
    background-size: cover;
}
.mao-mao h2, .mao-mao span {
    color: #439e3E;
}
.mao-mao p, .mao-mao ul li {
    color: #307978;
}
.freiren{
    display: block;
    background-image: url('./freiren.jpeg');
    background-size: cover;
}
.freiren h2, .freiren span {
    color: #208C20;
}
.freiren p, .freiren ul li {
    color: #AD6E18;
}
.kana{
    display: block;
    background-image: url('./kana.png');
    background-size: cover;
}
.kana h2, .kana span {
    color: #DB2c58;
}
.kana p, .kana ul li {
    color: #ffffff;
}
.megumin{
    display: block;
    background-image: url('./megumin.png');
    background-size: cover;
}
.megumin h2, .megumin span {
    color: crimson
}
.megumin p, .megumin ul li {
    color: #ffffff;
}